@import (reference) "bootstrap-overrides";

@panel-width: 200px;
@header-height: 48px;
@box-height: 32px;

body {
    font-size: 16px;
    font-weight: 200;
    background-color: @body-bg;
    font-family: "Roboto";
    color: @text-color;
}

html, body, .container {
    height:100%;
}

#container {
    overflow: hidden;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.logged {
    display: flex;
    flex: 1;
    align-items: stretch;
    min-height: 0;
}

#buffer-pane, #nick-pane {
    position: relative;
    overflow: auto;
    background-color: @pane-color;
    color: @text-pane-color;
}

.buffer-container {
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;
    bottom: @box-height;
}

.pane {
    width: 16.6667%;
}

#buffer-pane.small {
    margin-left: ~"calc(-16.6667% + 32px)";
}

#nick-pane.small {
    margin-right: ~"calc(-16.6667% + 32px)";
}

.pane.small .buffer-container {
    opacity: 0;
}

.animation, .animation .network, .animation .network-channels {
    .transition(all 0.5s ease-in-out;);
}

.buffer-container  {
    .transition(opacity 0.5s linear;);
}

@highlight-on-bottom: inset 0 -16px 16px -16px @highlight-on-bg;
@highlight-on-top: inset 0 16px 16px -16px @highlight-on-bg;

.buffer-container.highlight-on-bottom {
    box-shadow: @highlight-on-bottom;
}

.buffer-container.highlight-on-top {
    box-shadow: @highlight-on-top;
}

.buffer-container.highlight-on-bottom.highlight-on-top {
    box-shadow: @highlight-on-bottom, @highlight-on-top;
}

#center {
    font-size: 15px;
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    min-width: 0px;
}

.topic {
    height: 32px;
    line-height: 24px;
    min-height: 32px;
    overflow: visible;
    text-overflow: ellipsis;
    position: relative;
    background-color: @topic-bg;
}

#topic {
    font-family: @font-backlog;
    padding-left: 4px;
    padding-right: 36px;
    height: 32px;
    color: @topic-color;
    background-color: @topic-bg;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
    padding-bottom: 5px;
}

#topic:hover {
    position: absolute;
    z-index: 1;
    height: auto;
    white-space: normal;
}

#header {
    background-color: @brand-primary;
    color: @header-text-color;
    height: @header-height;
    line-height: @header-height;
    .transition(background-color 0.5s linear;);
}

#header small {
    opacity: 0.8;
}

.disconnected #header {
    background-color: @brand-danger;
}

.connecting #header {
    background-color: @brand-warning;
}

.network, .channel, .user {
    height: 32px;
    cursor: default;
    white-space: nowrap;

    &:hover, &.active {
        background-color: darken(@pane-color, 5);
    }
}

.network.off > span, .network.off + .network-channels .channel > span, .channel.off > span {
    opacity: 0.5;
}

.network, .channel {
    display: flex;
    position: relative;
}

.user {
    display: block;
}

.network-name, .group-name {
    height: 32px;
    line-height: 32px;
    opacity: 0.75;
    flex: 1;
    text-transform: uppercase;
}

.collapsable {
    .icon;
    opacity: 0.5;
    cursor: pointer;
    padding: 6px;
}

.collapsable .glyphicon:before{
    content:"\e114"
}

.collapsable.collapsed .glyphicon:before{
    content:"\e080"
}

.network-channels, .group-users {
    display: block;
    overflow: visible;
}

.user-icon {
    .icon;
    display: inline-block;
    float: left;
}

.channel.selected {
    font-weight: normal;
}

.channel.selected.on .channel-name {
    opacity: 1;
}

.user-icon-active {
    background-image: url(../images/icon-active.png)
}

.user-icon-away {
    background-image: url(../images/icon-away.png)
}

.user-voiced:before {
    content: '\e038 ';
    font-size: 0.9em;
    font-family: "Glyphicons Halflings";
    position: relative;
    top: 2px;
    display: inline-block;
    padding-right: 5px;
    line-height: 1;
}

.user-op:before {
    content: '@ ';
    font-size: 0.9em;
}

.user-name {
    height: 32px;
    display: inline-block;
    line-height: 32px;
    opacity: 0.75;
    font-family: @font-side;
}

.channel-icon {
    .icon;
    display: inline-block;
}

.channel-name {
    height: 32px;
    flex: 1;
    line-height: 32px;
    opacity: 0.75;
    font-family: @font-side;
}

.buffer-bottom-bar {
    min-height: 32px;
    display: inline-block;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: darken(@pane-color, 5);
}

.showhide {
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
        opacity: 1;
        background-color: darken(@pane-color, 8);
    }
}

.buffer-bottom-bar .showhide.left {
    left: 0;
    background-image: url(../images/hide-pane-right.png);
}

.small .buffer-bottom-bar .showhide.left {
    background-image: url(../images/hide-pane-left.png);
}

.buffer-bottom-bar .showhide.right {
    right: 0;
    background-image: url(../images/hide-pane-left.png);
}

.small .buffer-bottom-bar .showhide.right {
    background-image: url(../images/hide-pane-right.png);
}

.quassel-logo {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-right: 8px;
    vertical-align: text-bottom;
    display: inline-block;
    background-image: url(../images/quassel-logo.png);
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.connecting .quassel-logo {
    .animation(spin 1s linear infinite);
}

.channel:hover .dropdown-channel, .dropdown-network {
    .icon;
    opacity: 0.5;
    display: inline-block;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.dropdown-channel {
    display: none;
}

.input {
    overflow-y: hidden;
}

.input input {
    width: 100%;
    border: 0;
    padding-left: 8px;
    outline: none;
}

:not(.tokenfield) > input[type="text"], :not(.tokenfield) > input[type="password"] {
    height: @box-height !important;
    color: @input-color !important;
    background: @input-bg !important;
}

.backlog {
    margin: 0;
    padding: 4px;
    border-spacing: 0;
    flex: 1;
    overflow: auto;
    background-color: @body-bg;
}

.backlog li {
    display: table-row;
}

.backlog .timestamp > span {
    padding-right: 8px;
    padding-left: 4px;
    font-size: 14px;
    opacity: 0.5;
}

.backlog .nick {
    white-space: nowrap;
    padding-right: 8px;
    font-weight: 400;
    text-align: right;
}

.backlog .message {
    word-wrap: break-word;
    width: 100%;
    font-size: 0.85em;
    white-space: pre-wrap;
}

.backlog .irc-message > span {
    display: table-cell;
}

.backlog .markerline {
    height: 1px;
    background-color: @markerline-bg;
}

.backlog .markerline:last-child {
    display: none;
}

.fetching {
    display: inherit;
    text-align: center;
    top: 32px;
    position: absolute;
    right: 0;
    padding: 2px 7px;
    background-color: lighten(@brand-primary, 25%);
    color: white;
}

.login-container {
    padding: 16px;
    margin: 16px;
    margin-top: 64px;
    background-color: @login-bg;
    .border-radius;

    h1 {
        font-size: 20px;
        margin-top: 0;
    }

    .btn {
        width: 100%;
    }
}

.logout, .reconnect, .config {
    float: right;
    margin: 8px;
}

.prefs .dropdown-toggle {
    position: absolute;
    right: 1px;
    top: 1px;
    opacity: 0.4;
    z-index: 10;
    padding: 3px 7px;
    font-size: 1em;
    cursor: pointer;
    
    &:hover {
        opacity: 0.8;
    }
}

.prefs .dropdown-menu {
    position: relative;
    top: 30px;
}

.prefs {
    right: 0;
    top: 0;
    position: absolute;
}

.prefs .dropdown-menu > li label {
    font-weight: inherit;
    text-transform: inherit;
    padding: 0 5px;
}

[draggable] {
    user-select: none;
}

.drag.dragging {
    opacity: 0.7;
}

//MIRC colors
.mirc-fg-0 {color:#fff;}
.mirc-fg-1 {color:#000;}
.mirc-fg-2 {color:#0A0A85;}
.mirc-fg-3 {color:#0f0;}
.mirc-fg-4 {color:#f00;}
.mirc-fg-5 {color:#800000;}
.mirc-fg-6 {color:#800080;}
.mirc-fg-7 {color:#808000;}
.mirc-fg-8 {color:#FFFF00;}
.mirc-fg-9 {color:#BFFF00;}
.mirc-fg-10 {color:#008080;}
.mirc-fg-11 {color:#00FFFF;}
.mirc-fg-12 {color:#4169E1;}
.mirc-fg-13 {color:#F984EF;}
.mirc-fg-14 {color:#888;}

.mirc-bg-0 {background-color:#fff;}
.mirc-bg-1 {background-color:#000;}
.mirc-bg-2 {background-color:#0A0A85;}
.mirc-bg-3 {background-color:#0f0;}
.mirc-bg-4 {background-color:#f00;}
.mirc-bg-5 {background-color:#800000;}
.mirc-bg-6 {background-color:#800080;}
.mirc-bg-7 {background-color:#808000;}
.mirc-bg-8 {background-color:#FFFF00;}
.mirc-bg-9 {background-color:#BFFF00;}
.mirc-bg-10 {background-color:#008080;}
.mirc-bg-11 {background-color:#00FFFF;}
.mirc-bg-12 {background-color:#4169E1;}
.mirc-bg-13 {background-color:#F984EF;}
.mirc-bg-14 {background-color:#888;}

.mirc-bold {font-weight: bold;}
.mirc-italic {font-style: italic;}
.mirc-underline {text-decoration:underline !important;}

// Notifications
.cg-notify-message {
    position: fixed;
    left: 50%;
    top: 0px;
    z-index: 9999;
    max-width: 400px;
    text-align: center;
    font-size: 14px;
    padding: 10px 15px 10px 10px;
    
    background-color: @state-info-bg;
    color: @state-info-text;
    border: 1px solid @state-info-border;

    -webkit-transition: top 0.5s ease-out,opacity 0.2s ease-out;
    -moz-transition: top 0.5s ease-out,opacity 0.2s ease-out;
    -o-transition: top 0.5s ease-out,opacity 0.2s ease-out;
    transition: top 0.5s ease-out,opacity 0.2s ease-out;

    visibility: hidden;
}

.cg-notify-message a {
    font-weight: bold;
    color: inherit;
    
    &:hover {
        color: inherit;
    }
}

.cg-notify-message.alert-warning {
    background-color: @state-warning-bg;
    color: @state-warning-text;
    border: 1px solid @state-warning-border;
}

.cg-notify-message.alert-danger {
    background-color: @state-danger-bg;
    color: @state-danger-text;
    border: 1px solid @state-danger-border;
}

.cg-notify-close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;

    position: absolute;
    top: 0px;
    right: 3px;
    line-height: 15px; 
    
    background: 0 0;
    border: 0;
    color: black;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.cg-notify-close:hover, .cg-notify-close:focus {
    text-decoration: none;
    cursor: pointer;
    color: black;
    opacity: .5;
}

.cg-notify-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* Style */
.btn-default {
    color: @button-default-text-color;
    background-color: @button-default-bg;
    border: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    color: @button-default-text-color;
    background-color: darken(@button-default-bg, 5);
}

.btn-primary {
    color: @button-primary-text-color;
    background-color: @button-primary-bg;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: @button-primary-text-color;
    background-color: darken(@button-primary-bg, 5);
}

.network-name, .group-name {
    font-family: @font-side;
}

.channel.selected {
    background-color: black;
}

.buffer-newmessage {
    background: linear-gradient(to right, @highlight-1-bg 0%, rgba(57, 56, 62, 0) 10%, rgba(57, 56, 62, 0) 100%) repeat scroll 0% 0% transparent;
}

.buffer-highlight {
    background: linear-gradient(to right, @highlight-2-bg 0%, rgba(57, 56, 62, 0) 10%, rgba(57, 56, 62, 0) 100%) repeat scroll 0% 0% transparent;
}

.dropdown-network .glyphicon, .dropdown-channel .glyphicon {
    color: @text-pane-color;
    top: 6px;
    left: 5px;
    font-size: 1.3em;
}

.network .dropdown-menu li, .network-channels .dropdown-menu li {
    color: black;
}

.backlog .timestamp > span, .backlog .message, .backlog .nick {
    font-family: @font-backlog;
}

.backlog .irc-message.highlighted {
    background-color: @brand-warning;
}

.drop.dropable.hover {
    box-shadow: inset 0 0 8px #000;
}

// Dropdown

.open > .dropdown-menu {
    background-color: @dropdown-bg;
}

.dropdown-menu > li > a {
    color: @text-color !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: @dropdown-bg-hover;
}

// Scrollbars customization
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
    transition: box-shadow 400ms;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.5);
}

// Message styles
.type-1 { .nick,.message {color: @type-1-color;}} // Plain
.type-2 { .nick,.message {color: @type-2-color;}} // Notice
.type-4 { .nick,.message {color: @type-4-color;}} // Action
.type-8 { .nick,.message {color: @type-8-color;}} // Nick
.type-16 { .nick,.message {color: @type-16-color;}} // Mode
.type-32 { .nick,.message {color: @type-32-color;}} // Join
.type-64 { .nick,.message {color: @type-64-color;}} // Part
.type-128 { .nick,.message {color: @type-128-color;}} // Quit
.type-256 { .nick,.message {color: @type-256-color;}} // Kick
.type-512 { .nick,.message {color: @type-512-color;}} // Kill
.type-1024 { .nick,.message {color: @type-1024-color;}} // Server
.type-2048 { .nick,.message {color: @type-2048-color;}} // Info
.type-4096 { .nick,.message {color: @type-4096-color;}} // Error
.type-8192 { .nick,.message {color: @type-8192-color;}} // DayChange
.type-16384 { .nick,.message {color: @type-16384-color;}} // Topic
.type-32768 { .nick,.message {color: @type-32768-color;}} // NetsplitJoin
.type-65536 { .nick,.message {color: @type-65536-color;}} // NetsplitQuit
.type-131072 { .nick,.message {color: @type-131072-color;}} // Invite

// Colorize nicks
.type-1 .nick[data-nickhash="0"] { color: @nichkash-0-color; }
.type-1 .nick[data-nickhash="1"] { color: @nichkash-1-color; }
.type-1 .nick[data-nickhash="2"] { color: @nichkash-2-color; }
.type-1 .nick[data-nickhash="3"] { color: @nichkash-3-color; }
.type-1 .nick[data-nickhash="4"] { color: @nichkash-4-color; }
.type-1 .nick[data-nickhash="5"] { color: @nichkash-5-color; }
.type-1 .nick[data-nickhash="6"] { color: @nichkash-6-color; }
.type-1 .nick[data-nickhash="7"] { color: @nichkash-7-color; }
.type-1 .nick[data-nickhash="8"] { color: @nichkash-8-color; }
.type-1 .nick[data-nickhash="9"] { color: @nichkash-9-color; }
.type-1 .nick[data-nickhash="10"] { color: @nichkash-10-color; }
.type-1 .nick[data-nickhash="11"] { color: @nichkash-11-color; }
.type-1 .nick[data-nickhash="12"] { color: @nichkash-12-color; }
.type-1 .nick[data-nickhash="13"] { color: @nichkash-13-color; }
.type-1 .nick[data-nickhash="14"] { color: @nichkash-14-color; }
.type-1 .nick[data-nickhash="15"] { color: @nichkash-15-color; }