@import "style.less";
@import "bootstrap-tokenfield.less";

@brand-primary: #131313;
@brand-success: #5cb85c;
@brand-warning: #073642;
@brand-danger: #57201E;
@brand-info: #5bc0de;

@body-bg: #00212A;
@topic-bg: @brand-primary;
@login-bg: @brand-primary;
@text-color: #DDD;
@topic-color: #888;
@text-pane-color: @text-color;
@header-text-color: @text-color;
@input-bg: @brand-primary;
@input-color: @text-color;
@input-color-placeholder: darken(@text-color, 50%);
@button-primary-text-color: @text-color;
@button-default-text-color: @text-color;
@button-default-bg: #292929;
@button-primary-bg: @button-default-bg;
@link-color: @brand-primary;
@link-hover-color: darken(@link-color, 15%);
@border-color: #444444;
@markerline-bg: #073642;
@dropdown-bg: #232323;
@dropdown-bg-hover: #333;
@highlight-low-color: whitesmoke;
@highlight-medium-color: #268bd2;
@highlight-high-color: #FFAA00;
@highlight-on-bg: lighten(@highlight-high-color, 10%);

@font-side: consolas, "Roboto Condensed";
@font-backlog: consolas, "Droid Sans Mono", monospace;

@pane-color: @brand-primary;

@type-1-color: #839496;
@type-2-color: #93a1a1;
@type-4-color: #93a1a1;
.type-4 { .nick,.message {font-style: italic; font-weight: bold;}} // Action
@type-8-color: #586e75;
@type-16-color: #586e75;
@type-32-color: #586e75;
@type-64-color: #586e75;
@type-128-color: #586e75;
@type-256-color: #586e75;
@type-512-color: #586e75;
@type-1024-color: #93a1a1;
@type-2048-color: #93a1a1;
@type-4096-color: #dc322f;
@type-8192-color: #93a1a1;
.type-8192 {opacity: 0.5;}
@type-16384-color: #b58900;
@type-32768-color: #586e75;
@type-65536-color: #586e75;
@type-131072-color: #586e75;

@nichkash-0-color: #B58900;
@nichkash-1-color: #CB4B16;
@nichkash-2-color: #DC322f;
@nichkash-3-color: #D33682;
@nichkash-4-color: #6C71C4;
@nichkash-5-color: #268BD2;
@nichkash-6-color: #2AA198;
@nichkash-7-color: #859900;
@nichkash-8-color: #B58900;
@nichkash-9-color: #CB4B16;
@nichkash-10-color: #DC322f;
@nichkash-11-color: #D33682;
@nichkash-12-color: #6C71C4;
@nichkash-13-color: #268BD2;
@nichkash-14-color: #2AA198;
@nichkash-15-color: #859900;

.form-control, .form-control:focus, .form-control:active {
    border-color: @border-color;
}

.modal-content,
.list-group-item,
a.list-group-item {
    color: @text-color;
    background-color: @brand-primary;
    border-color: darken(@border-color, 25%);
}

.modal-header,
.modal-header .close,
.modal-footer {
    color: darken(@text-color, 25%);
    background-color: lighten(@brand-primary, 1%);
    border-color: darken(@border-color, 25%);
}

a.list-group-item:hover,
a.list-group-item:focus {
    color: @text-color;
    background-color: lighten(@brand-primary, 5%);
    border-color: darken(@border-color, 15%);
}


.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: darken(#337ab7, 10%);
    border-color:  darken(#337ab7, 20%)
}

.network.off > span,
.network.off + .network-channels .channel > span,
.channel.off > span {
    color: #555555;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0;
    transition: box-shadow 0;
    box-shadow: none;
}

::-webkit-scrollbar-track:hover {
    background: #161616;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 2px;
    box-shadow: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}

.backlog::-webkit-scrollbar-track,
.backlog::-webkit-scrollbar-track:hover {
    background: transparent;
}

.backlog::-webkit-scrollbar-thumb,
.backlog::-webkit-scrollbar-thumb:hover {
    background-color: #073642;
}

:-ms-input-placeholder { color: @input-color-placeholder; }
::-moz-placeholder { color: @input-color-placeholder; }
::-webkit-input-placeholder { color: @input-color-placeholder; }
