@import "style.less";

@brand-primary: #131313;
@brand-success: #5cb85c;
@brand-warning: #073642;
@brand-danger: #57201E;
@brand-info: #5bc0de;

@body-bg: #00212A;
@topic-bg: @brand-primary;
@login-bg: @brand-primary;
@text-color: #DDD;
@text-pane-color: @text-color;
@header-text-color: @text-color;
@input-bg: @brand-primary;
@input-color: @text-color;
@button-primary-text-color: @text-color;
@button-default-text-color: @text-color;
@button-default-bg: #292929;
@button-primary-bg: @button-default-bg;
@link-color: @brand-primary;
@link-hover-color: darken(@link-color, 15%);
@border-color: #444444;

@font-side: consolas, "Roboto Condensed";
@font-backlog: consolas, "Droid Sans Mono", monospace;

@pane-color: @brand-primary;

@type-1-color: #839496;
@type-2-color: #93a1a1;
@type-4-color: #93a1a1;
.type-4 { .nick,.message {font-style: italic; font-weight: bold;}} // Action
@type-8-color: #586e75;
@type-16-color: #586e75;
@type-32-color: #586e75;
@type-64-color: #586e75;
@type-128-color: #586e75;
@type-256-color: #586e75;
@type-512-color: #586e75;
@type-1024-color: #93a1a1;
@type-2048-color: #93a1a1;
@type-4096-color: #dc322f;
@type-8192-color: #93a1a1;
@type-16384-color: #b58900;
@type-32768-color: #586e75;
@type-65536-color: #586e75;
@type-131072-color: #586e75;

@nichkash-0-color: #B58900;
@nichkash-1-color: #CB4B16;
@nichkash-2-color: #DC322f;
@nichkash-3-color: #D33682;
@nichkash-4-color: #6C71C4;
@nichkash-5-color: #268BD2;
@nichkash-6-color: #2AA198;
@nichkash-7-color: #859900;
@nichkash-8-color: #B58900;
@nichkash-9-color: #CB4B16;
@nichkash-10-color: #DC322f;
@nichkash-11-color: #D33682;
@nichkash-12-color: #6C71C4;
@nichkash-13-color: #268BD2;
@nichkash-14-color: #2AA198;
@nichkash-15-color: #859900;

.form-control, .form-control:focus, .form-control:active {
    border-color: @border-color;
}
