script(type="text/ng-template", id="modalJoinChannel.html")
    .modal-header
      button.close(type='button', ng-click='cancel()') ×
      h4#myModalLabel.modal-title
        | Join a channel on
        span#join-network-name  {{network.networkName}}
    .modal-body
      .form-group
        input.form-control(type='text', placeholder='Enter channel name', ng-model="name")
    .modal-footer
      button.btn.btn-default(type='button', ng-click='cancel()') Cancel
      button.btn.btn-default(type='button', ng-click='ok()') Join channel