script(type="text/ng-template", id="modalGeneralConfig.html")
    .modal-header
      button.close(type='button', ng-click='$dismiss("close")') ×
      h4#myModalLabel.modal-title General configuration
    .modal-body
      .form-group.checkbox
        label
          input(type="checkbox", ng-model="gsdebug", ng-model-options="{ getterSetter: true }")
          | Display debug information in console ? (needs a refresh to take effect)
        label
          input(type="checkbox", ng-model="gsdisplayfullhostmask", ng-model-options="{ getterSetter: true }")
          | Display full hostmask on join/part/quit ?
      h4 Highlight nicks
        small  if logged, needs a refresh to take effect
      .btn-group
        label.btn.btn-primary(ng-model="gshighlightmode", ng-model-options="{ getterSetter: true }", uib-btn-radio="1") None
        label.btn.btn-primary(ng-model="gshighlightmode", ng-model-options="{ getterSetter: true }", uib-btn-radio="2") Current nick
        label.btn.btn-primary(ng-model="gshighlightmode", ng-model-options="{ getterSetter: true }", uib-btn-radio="3") All nicks from identity
    .modal-footer
      button.btn.btn-default(ng-click='$dismiss("close")') Close